:root{
    --background-color: #faedcd
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
}

main, .svg-container{
    display: flex;
}

.img-container{   
    background-image: url(form-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40vw;
}

.svg-container{
    position: relative;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 237, 205, 0.5);
    padding: 20px;
    gap: 10px;
}

.svg-text{
    font-weight: bolder;
    font-size: 2rem;
    color: aliceblue;
}

.right-side{
    display: flex;
    flex-direction: column;
    width: 60vw;
    background-color: var(--background-color);
}

.text{
    height: 20vh;
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin: 20px 0px 0px 20px;
}

.text >  p {
    font-size: 2rem;
    color: #54627B;
    font-weight: 800;
}

.form{
    height: 60vh;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    color: #710117;
    gap:10px
}

.form-text{
    width: 100%;
    font-size: 2.1rem;
}

.input{
    display: flex;
    flex-flow: column wrap; 
    gap: 20px
}


input{
    width: 500px;
    height: 50px;
    padding-left: 5px;
    border-radius: 10pt;
    border: 3px solid  #54627B;
}
