:root{
    --background-color: #faedcd
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Roboto', sans-serif; */
    font-family: sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
}

main, .svg-container{
    display: flex;
}

.img-container{   
    background-image: url(form-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40vw;
}

.svg-container{
    position: relative;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 237, 205, 0.5);
    padding: 20px;
    gap: 10px;
}

.svg-text{
    font-weight: bolder;
    font-size: 2rem;
    color: aliceblue;
}

.right-side{
    display: flex;
    flex-direction: column;
    width: 60vw;
    background-color: var(--background-color);
    gap: 10px;
}

.text{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: bold;

}

.text >  p {
    font-size: 2rem;
    color: #54627B;
    font-weight: bolder;
}

.form{
    height: 50vh;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    color: #710117;
    gap:10px
}

.form-text{
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    color: #710117;
    padding: 30px;
}

.input{
    display: flex;
    flex-flow: column wrap; 
}


input{
    margin-top: 10px;
    width: 500px;
    height: 55px;
    padding-left: 10px;
    border-radius: 10pt;
    border: 3px solid  #54627B;
    font-size: 25px;
    font-weight: bold;
}

label{
    font-size: 1.5rem;
    font-weight: bolder;
}

.sign-in{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.sign-in > button{
   width: 160px;
   height: 70px;
   border-radius: 10pt;
   font-size: 2rem;
   background-color: inherit;
   border: 1px solid black ;
   transition: background-color 0.5s ease;
}

.sign-in > button:hover{
    background-color: #710117;
    color: white;
    border: 1px solid white;
}

.sign-in > p {
    text-align: center;
    font-size: 2rem;
}

a{
    text-decoration: none;
    transition: background-color 0.5s ease;
}

a:hover{
    color:#710117;
    transform: scale(1.5);
}
